/* Start global */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: cairo;
    background-color: white;
    counter-reset: serv;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
textarea {
    caret-color: var(--main-color);
}

input::placeholder,
textarea::placeholder {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

input:focus::placeholder,
textarea:focus::placeholder {
    opacity: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global */

/* Start Variables */
:root {
    --main-color: #2196F3;
    --mainipadding: 100px 0;
}

/* End Variables */


/* Start Components */

.main-title {
    /* background-color: orange; */
    width: fit-content;
    margin: auto;
    margin-bottom: 80px;
    font-size: 30px;
    /* line-height: 2; */
    font-weight: 700;
    padding: 10px 20px;
    border: 3px solid black;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}

.main-title:hover {
    animation-name: main-title;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes main-title {
    0% {
        color: initial;

    }

    100% {
        color: white;
        border-color: white;
    }
}

.main-title::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #09c;
    border-radius: 50%;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    left: -40px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.main-title:hover::before {
    animation-name: left-main-title;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes left-main-title {
    0% {
        left: -40px;
    }

    30% {
        left: 0;
    }

    70% {
        left: 0;
        width: 50%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    100% {
        left: 0;
        height: 100%;
        width: 50%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

}


.main-title::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #09c;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
    z-index: -1;
}

.main-title:hover::after {
    animation-name: right-main-title;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes right-main-title {
    0% {
        right: -40px;
    }

    30% {
        right: 0;
    }

    70% {
        right: 0;
        width: 50%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    100% {
        right: 0;
        height: 100%;
        width: 50%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

}

/* pikes */
.pikes {
    position: relative;
}

.pikes::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    top: 0;
    left: 0;
    z-index: 2;
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient(230deg, #fff 25%, transparent 25%);
    background-size: 50px 50px;
}
/* dots */

.dots {
    background-image: url('../images/dots.png');
    width: 204px;
    height: 186px;
    background-repeat: no-repeat;
    position: absolute;
}

.dots-up {
    top: 200px;
    right: 0;
}

.dots-down {
    bottom: 200px;
    left: 0;
}

@media screen and (max-width: 991px) {
    .dots {
        background-image: none;
    }
}

/* End Components */

/* Start Header */
header {
    box-shadow: 4px 4px 5px #ccc;
    /* overflow: hidden; */
}

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

@media screen and (max-width: 767px) {
    header .container {
        flex-direction: column;
        justify-content: center;
    }
}

header .container .logo {
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.8;
    color: #2196F3;
}

header .container nav {}

header .container nav>ul {
    display: flex;
}

header .container nav>ul>li {}

header .container nav>ul>li>a {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    padding: 20px;
    display: block;
    color: #000;
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

@media screen and (max-width: 767px) {
    header .container nav>ul>li>a {
        font-size: 14px;
        padding: 10px;
    }
}

header .container nav>ul>li>a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #2196F3;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

header .container nav>ul>li>a:hover {
    background-color: #FAFAFA;
    color: #2196F3;
}


header .container nav>ul>li>a:hover::after {
    width: 100%;
}


header nav ul li .mega-menu {
    opacity: 0;
    display: flex;
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    padding: 20px;
    width: 100%;
    margin: auto;
    gap: 4%;
    z-index: -1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

header nav ul li:hover .mega-menu {
    opacity: 1;
    top: calc(100% + 1px);
    z-index: 999;
    background-color: white;
}

header nav ul li .mega-menu::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2196F3;
}

header nav ul li .mega-menu .image {
    width: 50%;
}

@media screen and (max-width: 991px) {
    header nav ul li .mega-menu .image {
        display: none;
    }
}


header nav ul li .mega-menu .image img {
    width: 100%;
}

header nav ul li .mega-menu .links {
    width: 23%;
    /* min-width: 240px; */
}

@media screen and (min-width: 1000px) {
    header nav ul li .mega-menu .links {
        min-width: 240px;
    }
}

@media screen and (max-width: 991px) {
    header nav ul li .mega-menu .links {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    header nav ul li .mega-menu .links {
        width: 100%;
    }

    header nav ul li:hover .mega-menu {
        flex-wrap: wrap;
        gap: 0;
    }
}

header nav ul li .mega-menu .links li {
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

header nav ul li .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media screen and (max-width: 767px) {
    header nav ul li .mega-menu .links:first-of-type li {
        border-bottom: 1px solid #e9e6e6;

    }
}

header nav ul li .mega-menu .links li::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #FAFAFA;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

header nav ul li .mega-menu .links li:hover {
    padding-left: 10px;
}

header nav ul li .mega-menu .links li:hover::before {
    width: 100%;
}


header nav ul li .mega-menu .links li a {
    display: block;
    padding: 10px;
    color: #2196F3;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 700;
}

@media screen and (max-width: 767px) {

    header nav ul li .mega-menu .links li a {
        padding: 5px;
    }
}

header nav ul li .mega-menu .links li a i {
    margin-right: 10px;
}

/* End Header */

/* Start Landing Page */

.landing {
    height: calc(100vh - 70px);
    background-image: linear-gradient(175deg, #ECECEC 80%, white 80%);
}

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing .container>div {
    width: 48%;
    margin-top: 100px;
}

.landing .container .text {
    /* background-color: orange; */
    padding: 30px;
}

.landing .container .text h1 {
    font-size: 40px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: -2px;
}

.landing .container .text p {
    font-size: 23px;
    font-weight: 400;
    line-height: 1.8;
    color: #666;
}

.landing .container .image {}

@media screen and (max-width: 991px) {
    .landing .container .image {
        display: none;
    }

    .landing .container .text {
        width: 100%;
        text-align: center;
    }

}

@media screen and (max-width: 767px) {
    .landing .container .text h1 {
        font-size: 28px;
        letter-spacing: -1.5px;
    }

    .landing .container .text p {
        font-size: 18px;
    }
}

.landing .container .image img {
    width: 100%;
    animation-name: landing-animate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes landing-animate {


    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    50% {
        transform: translateY(40px);
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }


}


.landing>a {

    position: absolute;
    bottom: 50px;
    left: 50%;
    animation-name: landing-end;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.landing>a i {
    color: #1787E0;
    line-height: 2;
}

@keyframes landing-end {
    0% {
        bottom: 10px;
    }

    15% {
        bottom: 30px;
    }

    30% {
        bottom: 10px;
    }

    45% {
        bottom: 30px;
    }

    60% {
        bottom: 10px;
    }

    100% {
        bottom: 10px;
    }
}


/* End Landing Page */

/* Start Articles */

.articles {
    padding: var(--mainipadding);
}

.articles .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.articles .cards .card {
    background-color: white;
    box-shadow: 4px 4px 20px 5px #ddd;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.articles .cards .card:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.articles .cards .card figure {
    border-bottom: 1px solid #E6E6E7;
}

.articles .cards .card figure img {
    width: 100%;
}



.articles .cards .card figure figcaption {
    padding: 20px;
}

.articles .cards .card figure figcaption h3 {
    font-size: 19px;
    font-weight: 700;
    line-height: 1.6;
}

.articles .cards .card figure figcaption p {
    font-weight: 400;
    color: #777;
}

.articles .cards .card .foot {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.articles .cards .card .foot a {
    color: var(--main-color);
    font-weight: 700;
}

.articles .cards .card .foot i {
    color: var(--main-color);
}

.articles .cards .card:hover .foot i {
    animation-name: articles-animate;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}


@keyframes articles-animate {

    to {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }

}

/* End Articles */

/* Start Gallery */

.gallery {
    padding: var(--mainipadding);
    background-color: #ECECEC;
    position: relative;
}

.gallery .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .cards .card {
    padding: 20px;
    background-color: white;
    box-shadow: 4px 4px 20px #ddd;
    position: relative;

}

.gallery .cards .card .image {
    overflow: hidden;
    position: relative;

}

.gallery .cards .card .image::before {
    content: '';
    position: absolute;
    background-color: rgb(255, 255, 255, 0.2);
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    opacity: 0;
    z-index: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.gallery .cards .card .image:hover::before {
    animation: flashing 0.7s;
    -webkit-animation: flashing 0.7s;
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

.gallery .cards .card img {
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.gallery .cards .card .image:hover img {
    transform: rotate(5deg) scale(1.1);
    -webkit-transform: rotate(5deg) scale(1.1);
    -moz-transform: rotate(5deg) scale(1.1);
    -ms-transform: rotate(5deg) scale(1.1);
    -o-transform: rotate(5deg) scale(1.1);
}

/* End Gallery */

/* Start Features Section */

.features-section {
    padding: var(--mainipadding);
}

.features-section .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features-section .cards .card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}

.features-section .cards .card .image {
    position: relative;
    overflow: hidden;
}

.features-section .cards .card .image::before {
    content: '';
    position: absolute;
    background-color: rgb(244 64 54 / 60%);
    top: -1PX;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.features-section .cards .card .image::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-color: transparent transparent white transparent;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.features-section .cards .card:hover .image::after {
    border-width: 170px 610px 170px 0px;
}


.features-section .cards .card .image img {
    width: 100%;
}

.features-section .cards .card .text {
    padding: 30px 20px;
}

.features-section .cards .card .text h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 2;
    width: fit-content;
    margin: 10px auto;
    position: relative;
}

.features-section .cards .card .text h3::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 10px;
    background-color: red;
    height: 5px;
    width: calc(100% - 20px);
}

.features-section .cards .card .text p {
    font-size: 20px;
    line-height: 2;
    text-align: center;
    color: #777;
    margin: 10px 0;
}

.features-section .cards .card .text button {
    margin: auto;
    margin-top: 50px;
    display: block;
    padding: 10px 30px;
    outline: none;
    border: 3px solid #f44036;
    font-size: 22px;
    font-weight: 700;
    color: #f44036;
    background-color: none;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.3s;
}

.features-section .cards .card .text button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    z-index: -1;
    background-color: #f44036;
    transform: translateX(-100%);
    width: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.features-section .cards .card:hover .text button::after {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}

.features-section .cards .card:hover .text button {
    color: white;
    cursor: pointer;
}


/* 2 */
.features-section .cards .card:nth-child(2) .image::before {
    background-color: rgb(0 150 136 / 60%);
}

.features-section .cards .card:nth-child(2) .text h3::after {
    background-color: #009688;
}

.features-section .cards .card:nth-child(2) .text button {
    border: 3px solid #009688;
    color: #009688;
}

.features-section .cards .card:nth-child(2):hover .text button {
    color: white;
}

.features-section .cards .card:nth-child(2) .text button::after {
    background-color: #009688;

}


/* 3 */
.features-section .cards .card:nth-child(3) .image::before {
    background-color: rgb(3 169 244 / 60%);
}

.features-section .cards .card:nth-child(3) .text h3::after {
    background-color: #03A9F4;
}

.features-section .cards .card:nth-child(3) .text button {
    border: 3px solid #03A9F4;
    color: #03A9F4;
}

.features-section .cards .card:nth-child(3):hover .text button {
    color: white;
}

.features-section .cards .card:nth-child(3) .text button::after {
    background-color: #03A9F4;

}

/* End Features Section */

/* Start Testimonials */
.Testimonials {
    padding: var(--mainipadding);
    background-color: #ECECEC;
}


.Testimonials .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.Testimonials .cards .card {
    background-color: white;
    padding: 20px;
    position: relative;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


.Testimonials .cards .card img {
    position: absolute;
    top: -50px;
    right: -10px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #ECECEC;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Testimonials .cards .card h3 {
    font-size: 19px;
    font-weight: 700;
    line-height: 1.8;
    color: var(--main-color);
}

.Testimonials .cards .card span {
    display: block;
    color: #777;
    line-height: 1.6;
    margin: 5px;
}


.Testimonials .cards .card .stars i:not(:last-child) {
    color: #FFC107;
}

.Testimonials .cards .card:nth-last-child(3) .stars i {
    color: #FFC107;
}


.Testimonials .cards .card:nth-last-child(2) .stars i:nth-last-child(2),
.Testimonials .cards .card:nth-last-child(1) .stars i:nth-last-child(2) {
    color: #444;
}


.Testimonials .cards .card p {
    color: #777;
    line-height: 2;
    margin: 10px 0 0 0;
}


/* End Testimonials */

/* Start team */


.team {
    padding: var(--mainipadding);
    position: relative;
}

.team .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.team .cards .card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.team .cards .card::before {
    content: '';
    position: absolute;
    background-color: #f3f3f3;
    width: calc(100% - 60px);
    height: 100%;
    z-index: -2;
    top: 0;
    right: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.team .cards .card::after {
    content: '';
    position: absolute;
    background-color: #e4e4e4;
    width: 0;
    height: 100%;
    z-index: -1;
    top: 0;
    border-radius: 10px;
    right: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.team .cards .card:hover::after {
    width: calc(100% - 60px);
}

.team .cards .card .data {
    display: flex;
    align-items: center;
    padding-top: 60px;

}

.team .cards .card .data img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.team .cards .card:hover .data img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.team .cards .card .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team .cards .card .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.team .cards .card .data .social a:hover i {
    color: var(--main-color);
}

.team .cards .card .data .social i {
    color: #777;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.team .cards .card .info {
    padding-left: 80px;
}

.team .cards .card .info h3 {
    margin-top: 10px;
    color: var(--main-color);
    font-size: 22px;
    margin-bottom: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.team .cards .card:hover .info h3 {
    color: #777;
}

.team .cards .card .info p {
    margin-top: -5px;
    margin-bottom: 25px;
}

/* End team */

/* Start Services */

.Services {
    padding: var(--mainipadding);
    background-color: #ECECEC;
}

.Services .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.Services .cards .card {
    background-color: white;
    text-align: center;
    position: relative;
    box-shadow: 4px 4px 20px 10px #ccc;
    padding-top: 30px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.Services .cards .card::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    top: -3px;
    transition: 0.3s;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.Services .cards .card:hover::after {
    width: 100%;
}

.Services .cards .card:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}



.Services .cards .card .icon {
    margin: 10px 0 0;
    margin-bottom: 10px;
}

.Services .cards .card .icon i {
    color: #D5D5D5;
    font-size: 64px;
}

.Services .cards .card h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 2;
    color: var(--main-color);
}

.Services .cards .card a {
    display: block;
    color: var(--main-color);
    text-align: end;
    background-color: #F9F9F9;
    margin-top: 40px;
    padding: 10px 20px;
    position: relative;
}

.Services .cards .card a::before {
    counter-increment: serv 1;
    content: '0'counter(serv);
    position: absolute;
    left: 0;
    background-color: var(--main-color);
    color: white;
    width: 30%;
    height: 100%;
    top: 0;
    font-weight: 900;
    font-size: 32px;
    text-align: left;
    /* padding-left: 30px; */
    /* margin-left: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.Services .cards .card a::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    left: 25%;
    background-color: #D5D5D5;
    transform: skew(-30deg);
    top: 0;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
}

/* End Services */

/* Start Skills */

.skills {
    padding: var(--mainipadding);
}

@media screen and (min-width: 991px) {
    .skills .content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.skills .content .image {
    display: none;
    width: 45%;
}

@media screen and (min-width: 991px) {
    .skills .content .image {
        display: block;
    }
}

.skills .content .image img {
    width: 100%;
}

@media screen and (min-width: 991px) {
    .skills .content .skills {
        width: 50%;
    }
}

.skills .content .skills .skill {
    margin-bottom: 10px;

}

.skills .content .skills .skill h3 {
    font-size: 19px;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 20px;
}

.skills .content .skills .skill .rate {
    background-color: #EEEEEE;
    width: 100%;
    height: 30px;
}

.skills .content .skills .skill .rate span {
    display: block;
    height: 100%;
    background-color: var(--main-color);
    position: relative;
}

.skills .content .skills .skill .rate span::before {
    content: '80%';
    background-color: transparent;
    color: var(--main-color);
    padding: 0 10px;
    border-radius: 7px;
    position: absolute;
    top: -55px;
    right: -10px;
    border: 1px solid #EEEEEE;
}

.skills .content .skills .skill:nth-child(2) .rate span::before {
    content: '85%';
}

.skills .content .skills .skill:nth-child(3) .rate span::before {
    content: '70%';
}

/* End Skills */

/* Start Works */
.works {
    padding: var(--mainipadding);
    background-color: #ECECEC;
}

.works .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

@media screen and (min-width: 991px) {
    .works .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .works .content .image {
        width: 48%;

    }

    .works .content .cards {
        width: 47%;
    }
}



.works .content .image img {
    width: 100%;
}

.works .content .cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.works .content .cards .card {
    background-color: #f6f5f5;
    padding: 30px;
    text-align: center;
    border: 1px solid white;
    position: relative;
    box-shadow: 2px 2px 10px #ccc;
    z-index: 2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media screen and (min-width: 767px) {
    .works .content .cards .card {
        display: flex;
        text-align: left;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }
}



.works .cards .card::before {
    content: '';
    position: absolute;
    background-color: #EDEDED;
    width: 0px;
    height: 0px;
    /* opacity: 0; */
    top: 50%;
    left: 50%;
    transition: 0.5s;
    z-index: -1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}


.works .cards .card:hover::before {
    width: 100%;
    height: 100%;

}

.works .content .cards .card img {
    width: 64px;
    margin: 10px 0;
}

.works .content .cards .card h3 {
    font-size: 22px;
    line-height: 2;
    font-weight: 700;
}

.works .content .cards .card p {
    font-size: 18px;
    line-height: 1.8;
    color: #777;
}

/* End Works */


/* Start Events */


.events {
    padding: var(--mainipadding);
    position: relative;
}




.events .content .image {
    display: none;
}

.events .content .image img {
    width: 100%;
}

@media screen and (min-width: 991px) {

    .events .content {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }

    .events .content .image {
        display: block;
        width: 48%;
    }


}

.events .content .text {
    /* background-color: orange; */
    /* overflow: auto; */
}

@media screen and (min-width: 991px) {
    .events .content .text {
        width: 48%;
    }
}

.events .content .text .date {
    margin: auto;
    /* background-color: gray; */
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.events .content .text .date .card {
    border: 1px solid #d4d4d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: 0.3s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}


.events .content .text .date .card:hover {
    border-color: var(--main-color);
}

.events .content .text .date .card span:not(:last-child) {
    display: block;
    color: var(--main-color);
    font-size: 35px;
    line-height: 1.5;
    margin: 3px 0;
}

.events .content .text .date .card span:last-child {
    font-size: 13px;
    line-height: 1.4;
    position: relative;
}

.events .content .text h3 {
    text-align: center;
    font-size: 30px;
    line-height: 2;
    margin-bottom: 10px;
    font-weight: 700;
}

.events .content .text p {
    font-size: 19px;
    line-height: 1.8;
    color: #777;
    text-align: center;
}

.events .container form {
    background-color: #F6F5F5;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    width: fit-content;
    padding: 20px 30px;
    margin: auto;
    margin-top: 70px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}


@media screen and (max-width: 767px) {
    .events .container form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
}

.events .container form input[type="email"] {
    padding: 20px;
    width: 350px;
    outline: none;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.events .container form input[type="submit"] {
    padding: 20px;
    outline: none;
    border: none;
    font-weight: 700;
    line-height: 1.5;
    font-size: 16px;
    color: white;
    background-color: var(--main-color);
    border-radius: 50px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.events .container form input[type="submit"]:hover {
    cursor: pointer;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
}

@media screen and (max-width: 767px) {

    .events .container form input[type="email"],
    .events .container form input[type="submit"] {
        width: 100%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}


.events .dots-one {
    position: absolute;
}

/* End Events */

/* Start Pricing */

.pricing {
    padding: var(--mainipadding);
    background-color: #ECECEC;
    position: relative;
}

.pricing .cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing .cards .card {
    /*padding: 20px;
    */
    background-color: white;
    text-align: center;
    box-shadow: 4px 4px 10px 7px #ccc;
    border-radius: 10px;
    position: relative;
    padding: 20px 0;
    z-index: 2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.pricing .cards .card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 50%;
    background-color: #F6F6F6;
    z-index: -1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.pricing .cards .card::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 50%;
    background-color: #F6F6F6;
    z-index: -1;
    transition: 0.5s;
}

.pricing .cards .card:hover::before,
.pricing .cards .card:hover::after {
    width: 100%;
}

.pricing .cards .card h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 10px;
    /* position: relative; */
}

.pricing .cards .card:nth-child(2) h3:after {
    content: 'Most Popular';
    /* width: 300px; */
    position: absolute;
    top: 60px;
    right: -20px;
    background-color: var(--main-color);
    transform: rotate(90deg);
    padding: 0 30px;
    font-size: 16px;
    color: white;

}

.pricing .cards .card:nth-child(2) h3:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 18px;
    border-color: transparent transparent white transparent;
    top: 119px;
    z-index: 1;
    right: 39px;
}

.pricing .cards .card img {
    height: 80px;
    display: block;
    margin: auto;
}


.pricing .cards .card span {
    font-size: 60px;
    line-height: 2;
    color: var(--main-color);
    font-weight: 700;
}

.pricing .cards .card p {
    margin-top: -27px;
    color: #777;
}

.pricing .cards .card ul {
    margin: 10px 0;
    text-align: left;
}

.pricing .cards .card ul li {
    padding: 15px 10px;
    border-top: 1px solid #eee;
}

.pricing .cards .card ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    font-size: 16px;
    color: var(--main-color);
}

.pricing .cards .card a {
    display: block;
    width: fit-content;
    margin: 20px auto;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    padding: 10px 30px;
    font-weight: 700;
    transition: 0.3s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.pricing .cards .card a:hover {
    color: white;
    background-color: var(--main-color);
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

/* End Pricing */

/* Start Vedio */
.vedio {
    padding: var(--mainipadding);
}

.vedio .content {
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 991px) {
    .vedio .content {
        flex-direction: column-reverse;
    }
}

.vedio .content figure {
    width: 70%;
    padding: 20px;
    background-color: #E2E2E2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 991px) {
    .vedio .content figure {
        width: 100%;
    }
}

.vedio .content figure figcaption {
    padding: 20px;
    background-color: white;
}


.vedio .content figure .image img {
    width: 100%;
}


.vedio .content .text {
    width: 30%;
}

@media screen and (max-width: 991px) {
    .vedio .content .text {
        width: 100%;
    }
}

.vedio .content .text .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #F4F4F4;
}

.vedio .content .text .head h3 {
    font-size: 16px;
    font-weight: 700;
}

.vedio .content .text ul {}

.vedio .content .text ul li {
    padding: 10px 20px;
    border: 1px solid #ececec;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.vedio .content .text ul li:hover {
    background-color: #FAFAFA;
    cursor: pointer;
}

.vedio .content .text ul a {
    color: #000;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.vedio .content .text ul li:hover a {
    color: var(--main-color);
}

.vedio .content .text ul span {
    color: #777;
}

/* End Vedio */

/* Start Stats */
.stats {
    padding: var(--mainipadding);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.942), rgba(255, 255, 255, 0.942)),
        url('../images/stats.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.stats .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.stats .cards .card {
    background-color: white;
    text-align: center;
    position: relative;
    padding: 10px 0;
    box-shadow: 4px 4px 10px #ccc;
}

.stats .cards .card {
    margin-bottom: 20px;
}

.stats .cards .card::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.stats .cards .card::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: var(--main-color);
    bottom: 0;
    right: 0;
    transition: 1s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.stats .cards .card:hover::before,
.stats .cards .card:hover::after {
    width: 2px;
    height: 100%;
}

.stats .cards .card i {
    font-size: 32px;
    line-height: 1.8;
    color: #444;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.stats .cards .card h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 2;
    color: #444;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.stats .cards .card:hover i,
.stats .cards .card:hover h3 {
    color: #000;
}

.stats .cards .card span {
    display: block;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    color: var(--main-color);

}

/* End Stats */

/* Start Discount */


.discount {
    /* padding: var(--mainipadding); */
    /* min-height: 100vh; */
}

@media screen and (min-width: 991px) {
    .discount {
        display: flex;
    }
}

.discount .left-part {
    background-image: linear-gradient(to right, #2195f3df, #2195f3e4),
        url('../images/discount-background2.jpg');
    background-size: cover;
    padding: 20px;
    text-align: center;
    color: white;
}



@media screen and (min-width: 991px) {
    .discount .left-part {
        width: 50%;
    }
}

.discount .left-part h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 20px;

}

@media screen and (max-width: 600px) {
    .discount .left-part h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

.discount .left-part p {
    font-size: 18px;
    line-height: 1.6;
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 767px) {
    .discount .left-part p {
        width: 100%;
    }
}

.discount .left-part img {
    height: 300px;
}

.discount form {
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

@media screen and (min-width: 991px) {
    .discount form {
        width: 50%;
    }
}

.discount form h2 {
    font-size: 40px;
    line-height: 1.8;
}

@media screen and (max-width: 600px) {
    .discount form h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
}


.discount form input {
    padding: 20px 10px;
    width: 80%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background-color: #F9F9F9;
    border-bottom: 2px solid #ccc;
}

.discount form ::placeholder {
    font-size: 17px;
}

.discount form textarea {
    width: 80%;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #F9F9F9;
}

.discount form input[type="submit"] {
    /*width: 30%;
    */
    color: white;
    background-color: var(--main-color);
    font-size: 19px;
    outline: none;
    margin-top: 40px;
    border: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.discount form input[type="submit"]:hover {
    cursor: pointer;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
}

/* End Discount */

/* Start Footer */
footer {
    background-color: #191919;
    padding: 30px 0;
}

footer .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

/* 1 */

footer .cards .card-one {
    /* background-color: orange; */
    padding: 20px;
    text-align: center;
}

@media screen and (min-width: 767px) {
    footer .cards .card-one {
        text-align: left;
    }
}


footer .cards .card-one h2 {
    font-size: 50px;
    line-height: 2;
    color: white;
    font-weight: 700;
}

footer .cards .card-one ul {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
    footer .cards .card-one ul {
        justify-content: flex-start;
    }
}

footer .cards .card-one ul li {}

footer .cards .card-one ul a {
    width: 50px;
    height: 50px;
    display: block;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B9B9B9;
    background-color: #313131;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

footer .cards .card-one ul li:not(:last-child) a:hover {
    background-color: var(--main-color);
    color: white;
}

footer .cards .card-one ul li:last-child a:hover {
    background-color: red;
    color: white;
}

footer .cards .card-one p {
    color: #b9b9b9;
    line-height: 2;
}


/* 2 */

footer .cards .card-two {
    /* background-color: #009688; */
    padding: 20px 10px;
}

footer .cards .card-two ul {
    text-align: center;
}

@media screen and (min-width: 767px) {
    footer .cards .card-two ul {
        text-align: left;
    }
}

footer .cards .card-two ul li {
    padding: 10px 0;


}

footer .cards .card-two ul li:not(:last-child) {
    border-bottom: 1px solid #444;
}

footer .cards .card-two ul li a {
    color: #b9b9b9;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

footer .cards .card-two ul li a::before {
    content: "\F101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

footer .cards .card-two ul li:hover a {
    padding-left: 20px;
    color: white;
}


/* 3 */

footer .cards .card-three {
    /* background-color: gray; */
    text-align: center;
    padding: 20px 10px;
}

footer .cards .card-three .line {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
    footer .cards .card-three .line {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}


footer .cards .card-three .line i {
    font-size: 25px;
    color: var(--main-color);

}

@media screen and (min-width: 767px) {
    footer .cards .card-three .line i {
        margin-right: 10px;
    }

}

footer .cards .card-three .line span {
    display: block;
    line-height: 1.7;
    flex: 1;
    margin: 10px 0;
    color: rgb(185, 185, 185);
}

@media screen and (min-width: 767px) {
    footer .cards .card-three .line span {
        width: 100%;
        font-size: 14px;
    }

    .cards .card-three .text {
        text-align: center;
        flex: 1;
    }
}

footer .foot {
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #444;
    margin-top: 20px;
    position: relative;
}

@media screen and (max-width: 500px) {
    footer .foot {
        text-align: left;
        padding-right: 20px;
        padding-left: 20px;
    }
}

footer .foot p {
    color: white;
}

footer .foot p span {
    font-weight: 700;
    color: var(--main-color);
    margin-left: 5px;
    font-size: 18px;
}

footer .foot a {
    display: block;
    position: absolute;
    top: 5px;
    right: 20px;
    padding: 15px;
    outline: none;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 25px;
    transition: 0.3s;
    font-weight: 900;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

footer .foot a:hover {
    color: var(--main-color);
    background-color: white;
}

/* End Footer */